/* Dependencies */
@import url('./assets/fontawesome/css/brands.min.css');

/* Global CSS */

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f6f8fa;
}

/* Heaeder */
header {
  width: 100%;
  height: 25vh;
  max-height: 100px;
  background-color: #24292e;
}

header nav {
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
}

header nav ul.navbar {
  min-width: 80%;
  justify-content: space-around;
}

/* Navbar Section */

nav,
ul {
  margin: 0;
  padding: 0;
}

ul.navbar {
  display: flex;
}

nav > ul li {
  list-style: none;
}

a.nav-link {
  text-decoration: none;
  color: whitesmoke;
}

a.nav-link:hover {
  color: gainsboro;
}

/* Main Content */

main {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1.title {
  font-family: 'Dancing Script', cursive;
  font-size: 6rem;
  margin: 2rem 0 0;
}

h1.title + h3.description {
  font-style: italic;
}

main article.container {
  width: 80%;
}

article.container section {
  width: 80%;
  background-color: white;
  margin: 2em auto;
  padding: 2em 3em;
  border-radius: 10px;
  box-shadow: 5px 10px 10px#d1d5da;
}

/* About Me Section & Education Section */

div.card {
  height: 200px;
  display: flex;
}

div.card > div.card-img-container {
  height: 100%;
  width: 250px;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card div.card-img-container img {
  height: 100%;
  width: auto;
}

div.card-body {
  width: 100%;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.card-body .card-title {
  font-size: 1.5em;
  margin: 0;
}

div.card-body p.card-text {
  font-size: 1.2em;
  text-align: justify;
  max-height: 130px;
  overflow: hidden;
  margin: 0 0 auto;
}

div.card-body a.more-about-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: darkcyan;
}

div.card-body a.more-about-link:hover {
  color: skyblue;
}

/* Projects Section */

section#projects h3.section-title {
  text-align: center;
  margin: 0;
}

section#projects div.wrapper {
  overflow-x: scroll;
}

section#projects div.carousel-container {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  height: 250px;
}

/* Project Carousel Scrollbar */

/* width */
section#projects div.wrapper::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
section#projects div.wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
section#projects div.wrapper::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
section#projects div.wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div.carousel-container .carousel-item {
  box-shadow: 0px 5px 10px #262626;
  height: 200px;
  width: 400px;
}

div.carousel-container .carousel-item:not(:first-child):not(:last-child) {
  margin: 0 1em;
}

.carousel-item:last-child {
  margin: 0 1em 0 0;
}

.carousel-item:first-child {
  margin: 0 0 0 1em;
}

/* Contact Me Section */

.section-title {
  font-size: 1.5em;
}

.form-group {
  margin-bottom: 15px;
}
.form-control {
  box-shadow: none;
}
.form-control {
  width: 100%;
  height: 43px;
  padding: 8px 16px;
  background-color: #eee;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.form-control {
  min-height: 150px;
  resize: vertical;
}

section#contact form div:last-child {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

input.form-submit-button {
  padding: 0.75em 1.5em;
}

/* Footer */

footer {
  width: 100;
  height: 10rem;
  background-color: royalblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #262626;
}

footer nav.social-media {
  width: 25%;
  min-width: 200px;
  max-width: 400px;
}

footer nav.navbar-link {
  width: calc(100% / 3);
  min-width: 300px;
  max-width: 450px;
}

footer nav ul {
  justify-content: space-around;
}

nav.social-media > ul li {
  font-size: 2rem;
}

h2.footer {
  margin: 0;
  color: gainsboro;
}

/********* Media Query ***********/

/* Main Section */

/* Laptops & Tablets Queries */
@media only screen and (max-width: 1024px) {

  main article.container {
    width: 100%;
  }

  main article.container section {
    width: 90%;
  }

}

/* Mobile Queries */
@media only screen and (max-width: 500px) {

  main article.container {
    width: 100%;
  }

  main article.container section {
    width: 90%;
  }

}